@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none; border: none;
}
html{
    font-size: 70%;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, #ff105f,#ffad06);
    border-radius: 5rem;
}
.fa-bars{
    padding: 10px 12px 10px 12px;
    margin: 10px auto;
    font-size: 2rem;
    border-radius: 50%;
    cursor: pointer;
}
.fa-bars:hover{
    background: gray;
}
.side-bar{
    top: 0;
    height: 100%;
    width: 20%;
    background: #202020;
    position: absolute;
    left: -232px;
    z-index: 1000;
    transition: 0.3s;
}
nav .fa-bars{
    padding: 10px 12px 10px 12px;
    font-size: 2rem;
    border-radius: 50%;
    -webkit-text-stroke: 2px #202020;
    cursor: pointer;
    margin: 10px auto 10px 10px;
    transition: 1s;
    color: #FFFEFA;
    transition: 0.3s;
}
nav .fa-bars:hover{
    background: gray;
    -webkit-text-stroke: 2px gray;
}
nav ul li .backgroundNav{
    height: 100%;
    width: 100%;
    padding:  10px 0 10px 20px;
    transition: 0.3s;
    cursor: pointer;
}
nav ul li .backgroundNav:hover{
    background: gray;
}
nav ul li{
   display:block;
}
nav ul li span{
   padding-left:10px ;
 }
nav ul li a{
    cursor: pointer;
    font-size: 15px;
    cursor: pointer;
    color: #FFFEFA;
    text-decoration: none;
    transition: 0.3s;
}
.main-board{
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(./images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    overflow: hidden;
}
.grid-container {
    display: grid;
    grid-template-columns: 300px auto auto;
    grid-gap: 8px;
    width: 70%;
    height: 80%;
    margin: 0 auto;
    position: relative;
    padding: 10px;
    opacity: 1;
}
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 15px 0;
    font-size: 1rem;
    border-radius: 15px;
    cursor: pointer;
    box-shadow:  0 0 20px 9px #ff61241f; 
}
.grid-container img{
    height: 30px;
}
section form .current_money{
    display: none;
}
.item2:hover,
.item3:hover,
.item4:hover,
.item5:hover{
    background-color: cornsilk;
}
.item1 {
    grid-row: 1 / span 2;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(45,52,54,1) 100%);
}

.item1 .balance{
    font-size: 3rem;
    color: #F7B600;
} 
.item1 .footer{
    display: flex;
    justify-content: space-between;
}
.item1 .account-number{
    text-align: left;
    color: #F7B600;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 50px;
}
.item1 .footer .visa{
    padding-right: 10px;
    font-size: 2rem;
    color: #F7B600;
}
.item1 .account-name{
    text-align: left;
    padding-left: 10px;
    color: #F7B600;
    font-size: 15px;
}
.item6{
    height: 100%;
    grid-column: 1/ span 3;

}
.item6 .header{
    font-size: 1rem;
}
.add-board{
    display: flex;
    justify-content: center;
    height: 200px;
    overflow-x: hidden;
}
.table {
  
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table thead tr{
    background:  linear-gradient(to right, #ff105f,#ffad06);
    color: #ffffff;
    text-align: left;
    
}
.table td,
.table th{
    padding: 15px 30px;
    text-align: left;
    font-size: 12px;
    
}
.table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.item6 .addBtn{
    padding: 10px 30px;
    cursor: pointer;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border-radius: 30px;
    border: 0;
    transition: 1s;
}
.item6 .addBtn:hover{
    background: linear-gradient(to right, #ffad06,#ff105f);
}


.background{
    height: 100%;
    width: 100%;
    top: 0;
    background: transparent;
    background-position: center;
    background-size: cover;
    position: absolute;
}
#expenseform{
    display: none;
}
#expenseformEdit{
    display: none;
}
#depositform{
    display: none;
}
#withdrawform{
    display: none;
}
#sendMoneyForm{
    display: none;
}
#transactionForm{
    display: none;
}
.content{
    font-size: 15px;
} 
#depositTable{
    display: none;
}
#withdrawTable{
    display: none;
}
#sentMoneyTable{
    display: none;
}
.deposit-box,
.withdraw-box{
    width: 380px;
    height: 180px;
    position: absolute;
    margin: 10% auto 0 35%;
    background: #fff;
    padding: 5px;
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 1rem;
    box-shadow:  0 0 20px 9px #ff61241f;
    border-radius: 20px;
    cursor: pointer;
    top: 0
}
.expense-box{
    width: 380px;
    height: 250px;
    position: absolute;
    margin: 10% auto 0 35%;
    background: #fff;
    padding: 5px;
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 1rem;
    box-shadow:  0 0 20px 9px #ff61241f;
    border-radius: 30px;
    cursor: pointer;
    top: 0;
}
.sendMoney-box{
    width: 380px;
    height: 48%;
    position: absolute;
    margin: 10% auto 0 35%;
    background: #fff;
    padding: 5px;
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 1rem;
    box-shadow:  0 0 20px 9px #ff61241f;
    border-radius: 20px;
    cursor: pointer;
    top: 0;
}
.transaction-box{
    width: 380px;
    height: 48%;
    position: absolute;
    margin: 10% auto 0 35%;
    background: #fff;
    padding: 5px;
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 1rem;
    box-shadow:  0 0 20px 9px #ff61241f;
    border-radius: 20px;
    cursor: pointer;
    top: 0;
}
.transaction-box .header{
    font-size: 2rem;
}
.box{
    display: flex;
    justify-content: center;
    margin: 10% auto;
    width: 100%;
}
.boxHistory{
    padding: 15px;
}
.boxHistory img{
    height: 5rem;
    width: 5rem;
    cursor: pointer;
    transition: 1s;
}
.boxHistory img:hover{
    background: red;
    border-radius: 50%;
}
/* transaction history tables styling */
.backgroundTables{
    height: 100%;
    width: 100%;
    top: 0;
    background: transparent;
    background-position: center;
    background-size: cover;
    position: absolute;
}
.history-box{
    height: 80%;
    width: 100%;
    overflow-x: hidden;
}
.deposit-box-history,
.withdraw-box-history{
    width: 50%;
    height: 60%;
    position: absolute;
    margin: 10% auto;
    background: #fff;
    padding: 5px;
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 1rem;
    box-shadow:  0 0 20px 9px #ff61241f;
    border-radius: 20px;
    cursor: pointer;
    left: 25%;
    
}
.sentMoney-box-history{
    width: 70%;
    height: 60%;
    position: absolute;
    margin: 10% auto;
    background: #fff;
    padding: 5px;
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 1rem;
    box-shadow:  0 0 20px 9px #ff61241f;
    border-radius: 20px;
    cursor: pointer;
    left: 15%;
}
.deposit-box-history .table,
.withdraw-box-history .table,
.sentMoney-box-history .table{
    display: flex;
    justify-content: center;
}
.deposit-box-history .styled-table,
.withdraw-box-history .styled-table,
.sentMoney-box-history .styled-table {
    border-collapse: collapse;
    margin: 10px 0 ;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.deposit-box-history .styled-table thead tr,
.withdraw-box-history .styled-table thead tr,
.sentMoney-box-history .styled-table thead tr{
    background:  linear-gradient(to right, #ff105f,#ffad06);
    color: #ffffff;
    text-align: left;
}
.deposit-box-history .styled-table th,
.deposit-box-history .styled-table td,
.withdraw-box-history .styled-table th,
.withdraw-box-history .styled-table td,
.sentMoney-box-history .styled-table th,
.sentMoney-box-history .styled-table td {
    padding: 12px 15px;
}
.deposit-box-history .styled-table tbody tr,
.withdraw-box-history .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
.fa-close{
    display: flex;
    justify-content: end;
    font-size: 2rem;
    padding-right: 30px;
    color: #000;
}
.fa-close:hover{
    color: red;
}
#exit:hover{
    color: red;
}
.input-field1{
    width: 80%;
    padding: 10px  0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.add-btn,
.deposit-btn,
.withdraw-btn,
.sendMoney-btn{
    width: 50%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 10px;
}

.icon{
    cursor: pointer;
    padding-right: 10px;
}
.icon:hover{
    color: crimson;
}

#date{
    display: none;
}
#usernameHeader{
    display: none;
}

.hide{
    display: none;
}
