@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

.main-board{
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(./images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.grid-container {
    display: grid;
    grid-template-columns: 300px auto auto;
    grid-gap: 10px;
    width: 740px;
    margin: 6% auto;
    position: relative;
    background-color: #2196F3;
    padding: 10px;
}
  
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 1rem;
    border-radius: 15px;
    cursor: pointer;
}
  
.item1 {
    grid-row: 1 / span 2;
    box-shadow:  0 0 20px 9px #ff61241f; 
}
.item6 {
    grid-column: 1/ span 3;
}
.item2:hover,
.item3:hover,
.item4:hover,
.item5:hover{
    transform: scale(1.1)
}
.item1 .balance{
    font-size: 3rem;
} 
.item1 .footer{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.item1 .footer .account-number{
    padding-left: 10px;
}
.item1 .footer .visa{
    padding-right: 10px;
}

.item6 .header{
    font-size: 2rem;
}
.item6 .add-board{
    
    width: 730px;
    height: 100px;
    margin:auto;
    overflow-x: hidden;
 
}
.item6 .addBtn{
    padding: 10px 30px;
    cursor: pointer;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border-radius: 30px;
    border: 0;
    transition: 1s;
}
.item6 .addBtn:hover{
    background: linear-gradient(to right, #ffad06,#ff105f);
}

.item6 .table td,
.item6 .table th{
    padding: 12px 80px;
    text-align: center;
}

 