@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@200;300;400;500;600;700&family=Special+Elite&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    outline: none; border: none;
  
}
html{
    font-size: 70.5%;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--bg);
    border-radius: 5rem;
}
.fa-bars{
    padding: 10px 12px 10px 12px;
    margin: 10px auto;
    font-size: 2rem;
    border-radius: 50%;
    cursor: pointer;
}
.fa-bars:hover{
    background: gray;
}
.side-bar{
    top: 0;
    height: 100%;
    width: 20%;
    background: #202020;
    position: absolute;
    left: -232px;
    z-index: 1000;
    transition: 0.3s;
}
nav .fa-bars{
    padding: 10px 12px 10px 12px;
    font-size: 2rem;
    border-radius: 50%;
    -webkit-text-stroke: 2px #202020;
    cursor: pointer;
    margin: 10px auto 10px 10px;
    transition: 1s;
    color: #FFFEFA;
    transition: 0.3s;
}
nav .fa-bars:hover{
    background: gray;
    -webkit-text-stroke: 2px gray;
}
nav ul li .backgroundNav{
    height: 100%;
    width: 90%;
    padding:  10px 0 10px 20px;
    transition: 0.3s;
    cursor: pointer;
}
nav ul li .backgroundNav:hover{
    background: gray;
}
nav ul li{
   display:block;
   cursor: pointer;
   font-size: 15px;
   cursor: pointer;
   color: #FFFEFA;
   text-decoration: none;
   transition: 0.3s;
}
nav ul li span{
   padding-left:10px ;
 }
nav ul li a{
    cursor: pointer;
    font-size: 15px;
    cursor: pointer;
    color: #FFFEFA;
    text-decoration: none;
    transition: 0.3s;
}
.main-board{
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(./images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    overflow: hidden;
}

.table{
  display: flex;
  justify-content: center;
}
.all-board{
    height: 80%;
    width: 95%;
    background: #fff;
    margin: 0 0 0 50px;
    
}
.all-board1{
    height: 80%;
    width:80%;
    background: #fff;
    margin: 0 0 0 100px;
    display: none
}
.all-board2{
    height: 80%;
    width:70%;
    background: #fff;
    margin: 0 0 0 100px;
    display: none;
}
.all-board3{
    height: 80%;
    width:70%;
    background: #fff;
    margin: 0 0 0 100px;
    display: none;
}
/* .all-board4{
    height: 80%;
    width:70%;
    background: #fff;
    margin: 0 0 0 100px;
    display: none;
} */
.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr{
    background:  linear-gradient(to right, #ff105f,#ffad06);
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
/* user info styling  */
.user-info-board{
    height: 90%;
    width: 100%;
    top: 0;
    background: transparent;
    background-position: center;
    background-size: cover;
    position: absolute;
    display: none;
 
}
.user-info-board .user-info-box{
    height: 95%;
    width: 30%;
    background: #dddddd;
    margin:5% 0 0 35%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}
#exit{
    right: 0;
}
.user-profilepic{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    padding-bottom: 2rem;
}
.fa-arrow-left{
    font-size: 2rem;
    padding: 10px 0 0 10px;
}
.user-profilepic img{
    border-radius: 50%;
    border: 2px solid red;
    height: 4rem;
}
.profile-name{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 20px;
}
.user-info-board ul{
    list-style-type:none;
}
.user-info-board ul li{
    padding: 0 0 8px 20px;
}
.user-info-board ul li label{
    font-size: 10px;
    padding-right:5px ;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}
#profile{
    margin: 10% auto;
    font-size: 4rem;
}
.icon{
    cursor: pointer;
}
#search{
   margin:10px;
   border-bottom: 1px solid #dddddd;
}
#search1{
    margin:10px;
    border-bottom: 1px solid #dddddd;
}
#search2{
    margin:10px;
    border-bottom: 1px solid #dddddd;
}
#search3{
    margin:10px;
    border-bottom: 1px solid #dddddd;
}
.buttons{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.buttons button{
    border-radius: 30px;
    cursor: pointer;
    font-size: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background: linear-gradient(to right, #ff105f,#ffad06);
    border: 0;
    outline: none;
    width: 30%;
    padding: 10px 10px;
    cursor: pointer;
    display: block;
    margin: auto;
}
.buttons button:hover{
    color: #fff;
    
}
.forms{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 70%;
    margin: 1% auto;
   background: #fff;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
   border-radius: 10px;
   display: none;
}
.forms .input-field{
    width: 40%;
    padding: 10px ;
    margin: 5px 10px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
#regiBtn17{
    width: 45%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 20px;
}
#accountNumber7{
    display: none;
}


